In [93]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

path = 'labelled_historical_modus.csv'

df = pd.read_csv(path, index_col=0)
# Display the first 5 rows

df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,LAT_ROUND,LON_ROUND,FIRE_YEAR,STAT_CAUSE_DESCR,DISCOVERY_DOY
0,19.3530,-155.0576,400.1,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,311.8,255.8,N,2,19.35,-155.06,2001,NaN,NaN
1,19.3378,-155.0360,311.6,1.0,1.0,2001-01-01,849,Terra,MODIS,83,6.2,296.9,9.8,N,2,19.34,-155.04,2001,NaN,NaN
2,19.3544,-155.0482,322.2,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,293.6,19.6,N,2,19.35,-155.05,2001,NaN,NaN
3,19.3468,-155.0375,362.5,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,303.1,92.9,N,2,19.35,-155.04,2001,NaN,NaN
4,19.3516,-155.0670,313.6,1.0,1.0,2001-01-01,849,Terra,MODIS,87,6.2,291.4,11.8,N,2,19.35,-155.07,2001,NaN,NaN

In [94]:
df.shape

(1787135, 20)

In [95]:
# Label fires as rows without NANs in the STAT_CAUSE_DESCR column
df.loc[df['STAT_CAUSE_DESCR'].isna() != True, 'isFire'] = 1
df.loc[df['STAT_CAUSE_DESCR'].isna() == True, 'isFire'] = 0

df['acq_date'] = pd.to_datetime(df['acq_date'])
# df['acq_date'].apply(pd.Timestamp.to_julian_date())

# drop excess columns
df.drop(columns = ['LAT_ROUND', 'LON_ROUND','FIRE_YEAR', 'STAT_CAUSE_DESCR', 'DISCOVERY_DOY', 'instrument'], inplace=True)

In [96]:
df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight,type,isFire
0,19.3530,-155.0576,400.1,1.0,1.0,2001-01-01,849,Terra,100,6.2,311.8,255.8,N,2,0.0
1,19.3378,-155.0360,311.6,1.0,1.0,2001-01-01,849,Terra,83,6.2,296.9,9.8,N,2,0.0
2,19.3544,-155.0482,322.2,1.0,1.0,2001-01-01,849,Terra,100,6.2,293.6,19.6,N,2,0.0
3,19.3468,-155.0375,362.5,1.0,1.0,2001-01-01,849,Terra,100,6.2,303.1,92.9,N,2,0.0
4,19.3516,-155.0670,313.6,1.0,1.0,2001-01-01,849,Terra,87,6.2,291.4,11.8,N,2,0.0

In [97]:
from sklearn.model_selection import TimeSeriesSplit

random_state = 314

X = df.drop(columns = 'isFire')
y = df[['acq_date', 'isFire']]


X_train = X[X['acq_date'].dt.year <= 2014]
y_train = y[y['acq_date'].dt.year <= 2014].drop(columns = 'acq_date')

X_test = X[X['acq_date'].dt.year > 2014]
y_test = y[y['acq_date'].dt.year > 2014].drop(columns = 'acq_date')

In [98]:
# Now I'll set up pipelines

# scikit-learn pipelines
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer

# feature processing
import category_encoders as ce
from sklearn.preprocessing import StandardScaler

# pre-processing pipeline
column_trans = ColumnTransformer(
    [('onehot', ce.OneHotEncoder(), ['satellite', 'daynight', 'type', 'version']),
    ('scale', StandardScaler(), ['brightness', 'track', 'scan', 'confidence', 'bright_t31', 'frp'])],
    n_jobs=-1, remainder='passthrough', verbose=True)

In [99]:
# we create classification pipelines
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier


pipelines ={ 
    'rfc' : make_pipeline(column_trans, RandomForestClassifier(random_state = random_state )),
    'gbc' : make_pipeline(column_trans, GradientBoostingClassifier(random_state = random_state))
}

for key, value in pipelines.items():
  value.fit(X_train, y_train)
  print(key + ' score: ', value.score(X_test, y_test))

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [ ]:
# suspiciously high accuracy, let's check ROC and f1
from sklearn.metrics import f1_score, roc_auc_score

for key, value in pipelines.items():
    y_preds = value.predict(X_test)
    print(key + ' f1 score: ', f1_score(y_test, y_preds))
    print(key + ' ROC score: ', roc_auc_score(y_test, y_preds))

In [89]:
# This shows that the model is not picking up the 'signal' from the fire data, it's just predicting the majority class
y_train['isFire'].value_counts()

0.0    1595084
1.0      44686
Name: isFire, dtype: int64

In [90]:
X_train

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,19.3530,-155.0576,400.1,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,311.8,255.8,N,2
1,19.3378,-155.0360,311.6,1.0,1.0,2001-01-01,849,Terra,MODIS,83,6.2,296.9,9.8,N,2
2,19.3544,-155.0482,322.2,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,293.6,19.6,N,2
3,19.3468,-155.0375,362.5,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,303.1,92.9,N,2
4,19.3516,-155.0670,313.6,1.0,1.0,2001-01-01,849,Terra,MODIS,87,6.2,291.4,11.8,N,2
5,19.3620,-155.0590,371.1,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,307.4,121.8,N,2
6,19.3440,-155.0563,403.3,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,315.8,275.1,N,2
7,19.3351,-155.0549,315.4,1.0,1.0,2001-01-01,849,Terra,MODIS,91,6.2,292.2,13.0,N,2
8,19.3365,-155.0455,307.1,1.0,1.0,2001-01-01,849,Terra,MODIS,70,6.2,295.8,6.4,N,2
9,19.3454,-155.0469,368.2,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,309.3,110.3,N,2
10,19.3606,-155.0684,333.0,1.0,1.0,2001-01-01,849,Terra,MODIS,100,6.2,297.7,33.8,N,2
11,19.3427,-155.0657,314.5,1.0,1.0,2001-01-01,849,Terra,MODIS,89,6.2,291.6,12.4,N,2
12,19.3695,-155.0698,313.9,1.0,1.0,2001-01-01,849,Terra,MODIS,88,6.2,291.6,14.0,N,2
13,30.2611,-82.8501,301.8,2.5,1.5,2001-01-01,1600,Terra,MODIS,49,6.2,280.6,26.8,D,0
14,26.5145,-80.9500,309.3,1.6,1.3,2001-01-01,1601,Terra,MODIS,68,6.2,288.4,17.2,D,0
15,26.4790,-80.6305,327.0,1.6,1.2,2001-01-01,1601,Terra,MODIS,85,6.2,291.6,47.3,D,0
16,26.4807,-80.6461,343.9,1.6,1.2,2001-01-01,1601,Terra,MODIS,93,6.2,291.2,95.7,D,0
17,19.3437,-155.0457,367.0,1.3,1.1,2001-01-01,2100,Terra,MODIS,100,6.2,319.0,137.2,D,2
18,19.3452,-155.0576,387.8,1.3,1.1,2001-01-01,2100,Terra,MODIS,100,6.2,320.7,259.8,D,2
19,19.3552,-155.0552,366.2,1.3,1.1,2001-01-01,2100,Terra,MODIS,100,6.2,314.8,137.9,D,2
20,33.4115,-110.8618,304.1,2.6,1.5,2001-01-02,618,Terra,MODIS,59,6.2,267.2,45.3,N,2
21,36.7729,-118.8688,303.0,1.0,1.0,2001-01-02,619,Terra,MODIS,52,6.2,277.6,10.6,N,0
22,35.0862,-79.6537,311.6,1.4,1.2,2001-01-02,1641,Terra,MODIS,71,6.2,276.6,24.2,D,0
23,38.0184,-77.8802,321.6,1.5,1.2,2001-01-02,1641,Terra,MODIS,81,6.2,274.4,45.1,D,0
24,32.3915,-81.6386,320.2,1.2,1.1,2001-01-02,1642,Terra,MODIS,80,6.2,278.7,27.7,D,0
25,32.3945,-81.6453,331.1,1.2,1.1,2001-01-02,1642,Terra,MODIS,87,6.2,279.0,42.5,D,0
26,32.3937,-81.6513,306.9,1.2,1.1,2001-01-02,1642,Terra,MODIS,58,6.2,278.0,13.0,D,0
27,32.7753,-82.8308,341.8,1.1,1.0,2001-01-02,1642,Terra,MODIS,93,6.2,280.7,56.7,D,0
28,32.3747,-84.4099,302.1,1.0,1.0,2001-01-02,1642,Terra,MODIS,50,6.2,277.7,8.3,D,0
29,31.2537,-84.5087,310.4,1.0,1.0,2001-01-02,1643,Terra,MODIS,70,6.2,278.5,13.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639740,19.4967,-154.9694,354.0,1.1,1.0,2014-12-30,2053,Terra,MODIS,92,6.2,305.0,75.0,D,2
1639741,19.4337,-155.0037,338.8,1.5,1.2,2014-12-31,0,Aqua,MODIS,89,6.2,300.6,64.3,D,2
1639742,19.4000,-155.2768,326.2,1.4,1.2,2014-12-31,0,Aqua,MODIS,51,6.2,299.9,29.3,D,2
1639743,19.4861,-154.9742,326.9,1.5,1.2,2014-12-31,1,Aqua,MODIS,58,6.2,298.8,33.4,D,2
1639744,19.4844,-154.9882,346.9,1.5,1.2,2014-12-31,1,Aqua,MODIS,94,6.2,305.7,87.3,D,2
1639745,19.4968,-154.9755,338.5,1.5,1.2,2014-12-31,1,Aqua,MODIS,89,6.2,300.5,63.3,D,0
1639746,19.4444,-155.0051,316.6,1.5,1.2,2014-12-31,1,Aqua,MODIS,19,6.2,295.9,17.1,D,2
1639747,19.4985,-154.9614,322.9,1.5,1.2,2014-12-31,1,Aqua,MODIS,70,6.2,297.5,27.6,D,2
1639748,31.3501,-96.1702,310.3,1.0,1.0,2014-12-31,432,Terra,MODIS,80,6.2,273.1,15.4,N,0
1639749,19.4977,-154.9683,339.8,1.0,1.0,2014-12-31,1211,Aqua,MODIS,100,6.2,294.6,44.7,N,2
1639750,19.4473,-155.0029,331.8,1.0,1.0,2014-12-31,1211,Aqua,MODIS,100,6.2,292.9,33.3,N,2
1639751,19.4811,-154.9812,317.1,1.0,1.0,2014-12-31,1211,Aqua,MODIS,94,6.2,294.3,15.5,N,2
1639752,19.4458,-154.9932,328.4,1.0,1.0,2014-12-31,1211,Aqua,MODIS,100,6.2,293.6,28.8,N,2
1639753,19.4992,-154.9780,311.3,1.0,1.0,2014-12-31,1211,Aqua,MODIS,28,6.2,291.6,10.0,N,0
1639754,19.4902,-154.9796,361.5,1.0,1.0,2014-12-31,1211,Aqua,MODIS,100,6.2,300.9,94.3,N,2
1639755,19.4917,-154.9893,316.6,1.0,1.0,2014-12-31,1211,Aqua,MODIS,93,6.2,290.6,15.3,N,0
1639756,19.5068,-154.9668,316.1,1.0,1.0,2014-12-31,1211,Aqua,MODIS,93,6.2,291.0,15.3,N,0
1639757,19.4639,-154.9901,313.7,1.0,1.0,2014-12-31,1211,Aqua,MODIS,88,6.2,291.0,13.8,N,2
1639758,19.5053,-154.9570,306.3,1.0,1.0,2014-12-31,1211,Aqua,MODIS,54,6.2,288.3,7.8,N,0
1639759,41.6338,-87.1464,300.7,1.2,1.1,2014-12-31,1634,Terra,MODIS,0,6.2,268.9,11.9,D,2
1639760,41.6321,-87.1322,304.8,1.2,1.1,2014-12-31,1634,Terra,MODIS,52,6.2,269.3,15.1,D,2
1639761,41.6362,-83.5031,328.6,1.0,1.0,2014-12-31,1634,Terra,MODIS,86,6.2,270.4,32.6,D,0
1639762,32.3414,-81.9171,314.4,1.4,1.2,2014-12-31,1636,Terra,MODIS,75,6.2,285.1,24.5,D,0
1639763,33.6834,-83.6475,308.6,1.1,1.1,2014-12-31,1636,Terra,MODIS,67,6.2,283.1,12.4,D,0
1639764,33.1601,-86.2174,309.5,1.0,1.0,2014-12-31,1636,Terra,MODIS,65,6.2,279.9,12.1,D,0
1639765,30.3944,-84.9019,301.9,1.1,1.0,2014-12-31,1637,Terra,MODIS,31,6.2,289.0,4.8,D,0
1639766,30.3833,-84.8927,314.9,1.1,1.0,2014-12-31,1637,Terra,MODIS,75,6.2,289.6,15.5,D,0
1639767,29.7906,-91.4702,300.4,1.4,1.2,2014-12-31,1637,Terra,MODIS,36,6.2,282.9,8.9,D,0
1639768,30.1543,-83.8487,311.7,1.2,1.1,2014-12-31,1637,Terra,MODIS,67,6.2,286.9,14.1,D,0
1639769,37.1125,-105.1331,309.8,1.4,1.2,2014-12-31,1952,Aqua,MODIS,65,6.2,268.1,24.9,D,0